* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #e0e6e9;
}

ul {
    list-style-type: none;
}


li {
    margin-top: 8px;
    margin-bottom: 8px;
}

    
.main-brand-container {
    margin-left: 20px;
    height: 100px;
    position: relative;
    
}

.main-brand-container .logo-img {
    height: 80px;
}

.main-brand-container h1 {
    display: inline-block;
    margin-left: 90px;
    text-shadow: 5px 5px 5px rgb(196, 196, 196);
}

.absolute-position {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


#cross{
    display: inline-block;
    color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid red;
    text-align: center;
    vertical-align: middle;
    
}

#ok {
    display: inline-block;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

.container {
    display: block;
}

.container-large {
    width: 70%;
}

.white-background {
    background-color: white; 
    border-bottom: 1px solid gray;
    box-shadow: 5px 5px 10px gray;
}

.add-container {
    margin: 30px auto;
    line-height: 50px;
    box-shadow: 5px 5px 10px gray;
}

.add {
    padding-left: 40px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button {
    background-color: #53A6E8;
    color: white;
    border-style: hidden;
    border-radius: 3px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 2px gray;

}

.button:hover {
    background-color: #2b93e7;
}

.add-section {
    background-color: white;
    color: gray;
    border: 1px solid grey;
    border-radius: 3px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 2px gray;
}

.add-section:hover {
    background-color: rgb(240, 240, 240);
    color: grey;
}

.list-container {
    margin: 0 auto;
    padding: 40px;
}

.list {
    padding-bottom: 30px;
    position: relative;
}

.list h2 {
    position: relative;
    left: 20px;
    top: 0;
}

.list .list-item {
    height: 0px;
    margin-top: 30px;
    overflow: hidden;
    transition: height 1s;
}

.list:focus .list-item {
    height: 150px;
    overflow: auto;
    margin-top: 30px;
}

.list .toggle-icon {
    position: relative;
    top: 5px;
    font-size: 20px;
    position: absolute;
    transform: rotateZ(0deg);
    transition: transform 1s;
}

.list:focus .toggle-icon {
    transform: rotateZ(180deg);
}


.editorial {
    background-color: #53A6E8;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
}

.goals {
    background-color: #A16DE2;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
}

.recruiting {
    background-color: #6DC4B0;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
}

.mobile {
    background-color: #EFA03A;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
}

.website {
    background-color: #D8649F;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
}

.sales {
    background-color: #A9C92F;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgb(196, 196, 196);
}