* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #e0e6e9;
}

h2 {
    margin-top: 20px;
}
    
#main-brand-container {
    padding: 14px 0;
}

#main-logo {
    width: 80px;
    vertical-align: middle;
}

#main-brand {
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
    font-size: 50px;
  }

.container {
    display: block;
    padding-left: 20px;
}

.white-background {
    background-color: white; 
}

.add-container {
    margin-top: 30px;;
    padding-left: 17%;
    padding-right: 17%;
    line-height: 50px;
    padding-top: 20px;
}

.add {
    padding-left: 40px;
    background-color: white;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button {
    background-color: #53A6E8;
    color: white;
    border-style: hidden;
    border-radius: 3px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;;
}

.add-section {
    border-radius: 3px;
    text-align: center;
    height: 30px;
}

.list-container {
    margin-right: 17%;
    margin-left: 17%;
    padding-left: 2%;
    padding-bottom: 100px;
    margin-bottom: 20px;
    border-top: 20px
    margin-top: 5px;
    padding-top: 10px
}