* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #e0e6e9;
}

h2 {
    margin-top: 40px;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 5px;;
}
    
#main-brand-container {
    padding: 14px 0;
}

#main-logo {
    width: 80px;
    vertical-align: middle;
}

#main-brand {
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
    font-size: 50px;
  }

.container {
    display: block;
    padding-left: 20px;
}

.white-background {
    background-color: white; 
}

.add-container {
    margin-top: 30px;;
    padding-left: 17%;
    padding-right: 17%;
    line-height: 50px;
    padding-top: 20px;
}

.add {
    padding-left: 40px;
    background-color: white;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button {
    background-color: #53A6E8;
    color: white;
    border-style: hidden;
    border-radius: 3px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.add-section {
    background-color: white;
    color: gray;
    border: 1px solid grey;
    border-radius: 3px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.list-container {
    margin-right: 17%;
    margin-left: 17%;
    padding-left: 2%;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-top: 20px;
    margin-top: 5px;
    padding-top: 10px
}

.editorial {
    background-color: #53A6E8;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
}

.goals {
    background-color: #A16DE2;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
}

.recruiting {
    background-color: #6DC4B0;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
}

.mobile {
    background-color: #EFA03A;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
}

.website {
    background-color: #D8649F;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
}

.sales {
    background-color: #A9C92F;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
}